@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'WhyteInktrap', sans-serif;
  background-color: white;
}

h1 {
  font-family: 'InterTight', sans-serif;
  color: #09090d;
}

p {
  font-size: 2vh;
  font-weight: normal !important;
}

.whyteInktrap_font {
  font-family: 'WhyteInktrap', sans-serif !important;
}

.inter-tight {
  font-family: 'InterTight', sans-serif !important;
}
